.container{
    background-color: black;
    min-width: 98.7vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction:column;
    padding: 20px;
   
}
.box{
    padding: 10px;
    margin-bottom: 20px;
    font-size: larger;
    font-weight: 700;
}

.container input{
    min-width: 30vw;
}
